# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/mysql-workbench-master
/mysql-workbench-dark-theme-master
/entrega_8
/entrega_2
/entrega_13/docs
/entrega_13/ScriptInsPerezGonzalez.zip
/entrega_10/docs
/docs
/entrega_14/docs
/entrega_15
# /entrega_16
/entrega_16/docs
/entrega_17/docs
/entrega_17/docs
/entrega_19/docs
/entrega_20/docs
/entrega_21/docs
/entrega_final/docs